.env
*.swp
temp.patch
job_data/
storage/
test_experiment/
.coverage

mock_db/*.json
mock_db/*.jsonl
mock_db/jobs/*.json
mock_db/metrics/*.jsonl
mock_storage/*.jsonl
mock_storage/*.pt
mock_storage/*.log
mock_storage/*.yaml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.env
dist/
build/

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json # Or yarn.lock, depending on preference if you add package managers

# Supabase
.supabase/ # Local Supabase CLI state, if not desired in repo

# IDE specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS specific
.DS_Store
Thumbs.db
work/
